<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
> 

<h:head><title>JSF Form Page</title></h:head> 
<h:body> 
	<!-- composition template will use common items used such as a header, footer, etc. -->
	<ui:composition template = "/layouts/commonLayout.xhtml">	

			<ui:define name = "commonContent">
			<h:form>
				<h:inputText name= "firstname" value="#{User.firstName}" />
				<br></br>
				<br></br>
				<h:inputText name="lastname" value="#{User.lastName}" />
				<br></br>
				<br></br>
				
				<!-- Buttons with actions. They are directed to the controller -->
				<h:commandButton action="#{formController.onSubmit(User)}" value="Submit" />
				<b></b><b></b><b></b>
				<h:commandButton action="#{formController.onFlash(User)}" value="Flash" />
			</h:form>
			<h:messages />
			</ui:define>	
	
	</ui:composition>    
	 

</h:body> 

</html>
